.hero {
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 20px;
    /* position: relative; */
}

/* .hero__contenido {
    position: absolute;
    background-color: red;
    weight: 2rem;
    height:2rem; 
    
    }*/

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    /* font-weight: bold;  */
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}

/* CONTACTO - FORMULARIO */

.formulario {
    background-color: var(--gris);
    width: 60rem;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2rem;
    color: var(--primario);
}