p {
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
//nosotros//
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, auto);
    column-gap: 2rem;
}

.nosotros__imagen {
    grid-row: 1 / 2;
    width: 100%;
}
.contenedor__compra {
    background-color: var(--primario);

}
.bloques {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.bloque {
    text-align: center;
}
.bloque__titulo {
    margin: 0;
}
.bloque__imagen {
    width: 100%;
}